doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        script(
            src='https://code.jquery.com/jquery-3.3.1.slim.min.js'
            integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo'
            crossorigin='anonymous'
        )
        script(
            src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'
            integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49'
            crossorigin='anonymous'
        )
        link(
            rel='stylesheet'
            href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css'
            integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB'
            crossorigin='anonymous'
        )
        script(
            src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js'
            integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T'
            crossorigin='anonymous'
        )
        title Панель управления
    body
        .container
            .mt-5
            .row
                .col-lg
                    h3.text-primary.text-center Панель управления
                    hr.border-primary
            .mt-5
            .row
                .col-lg
                    .card.border-primary
                        .card-header.bg-white.text-primary.border-primary Активные стопы
                        .card-body
                            table.table.table-borderless.text-center
                                thead
                                    tr
                                        th(scope='col') #
                                        th(scope='col') Активно
                                        th(scope='col') Направление
                                        th(scope='col') Значение
                                        th(scope='col') Тейк
                                        th(scope='col') Стоп
                                        th(scope='col') Шаг
                                        th(scope='col') Смена
                                        th(scope='col') Оригинал
                                        th(scope='col') Дата
                                        th(scope='col') Действия
                                tbody
                                    script.
                                        function remove(id) {
                                            $("[id=remove] [name=id]").val(id);
                                            $("[id=remove]").submit();
                                        }
                                    | <% @task_list.each do |task| %>
                                    tr
                                        td.m-id <%= task[:id] %>
                                        td.m-direction <%= task[:active] ? 'Да' : 'Нет' %>
                                        td.m-direction <%= task[:direction] %>
                                        td.m-value <%= nil %>
                                        td.m-take <%= nil %>
                                        td.m-stop <%= nil %>
                                        td.m-step <%= task[:step] %>
                                        td.m-change <%= nil %>
                                        td.m-date <%= task[:value] %>
                                        td.m-date <%= task[:date].strftime('%d-%m-%y %R') %>
                                        td.m-control
                                            button.m-delete.btn.btn-sm.btn-outline-danger(
                                                onclick!='remove(eval(\'<%= task[:id] %>\'))'
                                            ) X
                                    | <% end %>
                            form#remove(action='remove' method='POST')
                                input(type='number' name='id' required style='display: none')
            .mt-5
            .row
                .col-lg
                    .card.border-primary
                        .card-header.bg-white.text-primary.border-primary Добавить
                        .card-body
                            form.form(action='/add' method='POST')
                                .row.mb-3
                                    .col-sm-3.text-right
                                        label Направление
                                    .form-inline.col-sm-7
                                        .form-check.mr-3
                                            input#direction-long.form-check-input(type='radio' name='direction' value='long' checked)
                                            label.form-check-label(for='direction-long') Long
                                        .form-check
                                            input#direction-short.form-check-input(type='radio' name='direction' value='short')
                                            label.form-check-label(for='direction-short') Short
                                .form-group.row
                                    label.col-sm-3.text-right(for='start') Стартовое значение
                                    input#start.form-control.col-sm-7(type='number' name='start' step='0.01' required)
                                .form-group.row
                                    label.col-sm-3.text-right(for='step') Шаг
                                    input#step.form-control.col-sm-7(type='number' name='step' step='0.01' required)
                                button.btn.btn-outline-primary.float-right(type='submit') Добавить